<%= form_for(te) do |f| %>
  <% if te.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(te.errors.count, "error") %> prohibited this te from being saved:</h2>

      <ul>
      <% te.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>

  <div class="field">
    <%= f.label :kihu %>
    <%= f.text_field :kihu %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
