<p id="notice"><%= notice %></p>

<p>
  <strong>Teban:</strong>
  <%= @kihu.teban %>
</p>

<p>
  <strong>Won:</strong>
  <%= @kihu.won %>
</p>

<%= link_to 'Edit', edit_kihu_path(@kihu) %> |
<%= link_to 'Back', kihus_path %>
